<HTML>
<HEAD>
<TITLE>Sonos Mobile Control</TITLE>
<meta HTTP-EQUIV="refresh" CONTENT="60"
</HEAD>
<BODY>


{% if has_active_zone %}
<table width=100% align=center cellspacing=0 cellpadding=0>
<tr align=center><td><B><A HREF="pocketpc.html?{{ all_arg }}">{{ active_zone }}</b></A></td></tr>
<tr align=center><td><a href=pocketpc.html?zone={{ active_zoneid }}><IMG WIDTH=160 HEIGHT=160 SRC="{{ active_albumart }}"></a></td></tr>
<tr align=center><td><font size=-1>{{ active_name }}</font></td></tr>
{% if active_isradio %}
<tr><td><font size=-1>{{ active_album }}</td></tr>
{% else %}
<tr align=center><td><font size=-1>{{ active_artist }}<br>
{{ active_album }}</td></tr>
{% endif %}
</table>
<HR>

<table width=100% cellspacing=0 cellpadding=0><tr align=center>
<td><font size=-1><A HREF="?{{ all_arg }}action=Previous">Prev</A>&nbsp
{% if active_playing %}
<A HREF="?{{ all_arg }}action=Pause">Pause</A>&nbsp
{% else %}
<A HREF="?{{ all_arg }}action=Start">Play</A>&nbsp
{% endif %}
<A HREF="?{{ all_arg }}action=Next">Next</A>
</font></td>
<td><font size=-1>
{% if active_muted %}
<A HREF="?{{ all_arg }}action=MuteOff">Mute</A>
{% else %}
<A HREF="?{{ all_arg }}action=MuteOn">No-Mute</A>
{% endif %}
&nbsp
<A HREF="?{{ all_arg }}action=MuchSofter">--</A>&nbsp
<A HREF="?{{ all_arg }}action=Softer">-</A>&nbsp
{{ active_volume }}
<A HREF="?{{ all_arg }}action=Louder">+</A>&nbsp
<A HREF="?{{ all_arg }}action=MuchLouder">++</A>
</font></td>
</tr></table>

{% endif %}

</BODY>
</HTML>

