<HTML>
<HEAD>
<meta http-equiv="refresh" content="5;URL=control.html?{{ all_arg }}">
<TITLE>Control</TITLE>
</HEAD>
<BODY>

{{ has_active_zone }} Now Playing: <FONT SIZE=0><A TARGET=control HREF="control.html?{{ all_arg }}">Refresh</A></FONT><BR>

&nbsp; <B>Song:</B> {{ active_name }}<BR>
{% if active_isradio %}
&nbsp; <B>Station:</B> {{ active_album }}<BR>
{% else %}
&nbsp; <B>Artist:</B> {{ active_artist }}<BR>
&nbsp; <B>Album:</B> {{ active_album }}<BR>
&nbsp; <B>Track:</B> {{ active_track_num }}/{{ active_track_tot }}<BR>
{% if active_albumart %}
<IMG WIDTH=50 HEIGHT=50 SRC="{{ active_albumart }}"><BR>
{% endif %}
{% endif %}

<HR>

<A TARGET=middle HREF="middle.html?{{ all_arg }}action=Previous">Previous</A>
{% if active_playing %}
<A TARGET=middle HREF="middle.html?{{ all_arg }}action=Pause">Pause</A>
{% else %}
<A TARGET=middle HREF="middle.html?{{ all_arg }}action=Play">Play</A>
{% endif %}
<A TARGET=middle HREF="middle.html?{{ all_arg }}action=Next">Next</A>
<BR>
{% if active_shuffle %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=ShuffleOff">Shuffle Off</A>
{% else %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=ShuffleOn">Shuffle On</A>
{% endif %}
{% if active_repeat %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=RepeatOff">Repeat Off</A>
{% else %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=RepeatOn">Repeat On</A>
{% endif %}
<BR>
{% if active_muted %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=MuteOff">Mute Off</A>
{% else %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=MuteOn">Mute On</A>
{% endif %}
<A TARGET=control HREF="control.html?{{ all_arg }}action=MuchSofter">--</A>
<A TARGET=control HREF="control.html?{{ all_arg }}action=Softer">-</A>
{{ active_volume }}
<A TARGET=control HREF="control.html?{{ all_arg }}action=Louder">+</A>
<A TARGET=control HREF="control.html?{{ all_arg }}action=MuchLouder">++</A>

</BODY>
</HTML>
