<HTML>
<HEAD>
<TITLE>Music</TITLE>
</HEAD>
<BODY>
<FONT SIZE=0>
<A TARGET=music HREF="music.html?{{ all_arg }}action=ReIndex">ReIndex Music</A>
<A TARGET=music HREF="music.html?{{ all_arg }}">Refresh</A>
<A TARGET=music HREF="music.html?zone={{ active_zoneid }}&mpath=/">Top</A>
{% if not music_root %}
<A TARGET=music HREF="music.html?zone={{ active_zoneid }}&mpath={{ music_parent }}">Up</A>
{% endif %}
</FONT>
<P>
<FORM ACTION="music.html?{{ all_arg }}" METHOD="get">
Perl Expression:
<INPUT NAME=msearch VALUE="{{ music_search }}">
<INPUT NAME=zone VALUE="{{ active_zoneid }}" TYPE=HIDDEN>
<INPUT VALUE="Search" TYPE=submit>
</FORM>
<HR>
<B>{{ music_error }}</B>

{% for _for_object_music_loop in music_loop %}
    <IMG BORDER=0 SRC={{ _for_object_music_loop.music_albumart }}>
    {% if not music_root %}
        <A TARGET=middle HREF="middle.html?{{ _for_object_music_loop.all_arg }}{{ _for_object_music_loop.music_arg }}action=add"><IMG BORDER=0 SRC=/static/images/add.gif></A>
        <A TARGET=middle HREF="middle.html?{{ _for_object_music_loop.all_arg }}{{ _for_object_music_loop.music_arg }}action=PlayMusic"><IMG BORDER=0 SRC=/static/images/playing.gif></A>
    {% endif %}
    {% if not music_iscontainer %}
        {{ _for_object_music_loop.music_name }}
    {% else %}
        <A TARGET=music HREF="music.html?{{ _for_object_music_loop.all_arg }}{{ _for_object_music_loop.music_arg }}action=Browse">{{ _for_object_music_loop.music_name }}</A>
    {% endif %}
    <BR>
{% endfor %}

</BODY>
</HTML>
