<HTML>
<HEAD>
<TITLE>Playlist</TITLE>
</HEAD>
<BODY>

{% if active_zone_img %}<IMG SRC="{{ active_zone_img }}"> {% endif %}
{{ has_active_zone }} Queue:  <A TARGET=queue HREF="queue.html?{{ all_arg }}action=RemoveAll">Remove All</A>
<FONT SIZE=0><A TARGET=queue HREF="queue.html?{{ all_arg }}">Refresh</A></FONT>
<BR>
<FORM ACTION="queue.html" METHOD="get">
Save Q as:
<INPUT NAME=savename VALUE="">
<INPUT NAME=action VALUE="Save" TYPE=HIDDEN>
<INPUT NAME=zone VALUE="{{ active_zoneid }}" TYPE=HIDDEN>
<INPUT VALUE="Save" TYPE=submit>
</FORM>
<HR>
{% for _for_object_queue_loop in queue_loop %}
    <IMG SRC="{{ _for_object_queue_loop.queue_img }}">
    <A TARGET=middle HREF="middle.html?{{ _for_object_queue_loop.queue_arg }}action=Remove"><IMG BORDER=0 SRC=/static/images/x.gif></A>
    <A TARGET=middle HREF="middle.html?{{ _for_object_queue_loop.queue_arg }}action=Seek">{{ _for_object_queue_loop.queue_name }}</A>
    <BR>
{% endfor %}
</BODY>
</HTML>


</BODY>
</HTML>
