<HTML>
<HEAD>
<TITLE>Zones</TITLE>
</HEAD>
<BODY>
<FONT SIZE=0><A TARGET=_top HREF="index.html?{{ all_arg }}">Refresh</A></FONT><P>
{% for _for_object_zones_loop in zones_loop %}
    {% if zone_active %}<B>{% endif %}
    {% if zone_linked %}
       &nbsp; &nbsp;{{ _for_object_zones_loop.zone_name }}
      <A TARGET=_top HREF="index.html?{{ _for_object_zones_loop.all_arg }}link={{ _for_object_zones_loop.active_zone }}&action=Unlink"><font size=-2>[U]</font></a>
    {% else %}
       <A TARGET=_top HREF="index.html?{{ _for_object_zones_loop.zone_arg }}">{{ _for_object_zones_loop.zone_name }}</A>
       {% if not zone_active %}
          <A TARGET=_top HREF="index.html?{{ _for_object_zones_loop.all_arg }}link={{ _for_object_zones_loop.active_zone }}&action=Link"><font size=-2>[L]</font></a>
       {% endif %}
    {% endif %}
    {% if zone_active %}</B>{% endif %}
    <BR>
{% endfor %}
<P>
{% if has_active_zone %}
    <A TARGET=_top HREF="index.html?zone={{ active_zoneid }}&action=LinkAll">Party Mode</A>
{% else %}
    <B>Select a zone to start</B>
{% endif %}
<hr>
<A TARGET =_top HREF="/">Home Page</A>
</BODY>
</HTML>
