<html>
    <head>
        <title>SONOS Zones Status</title>
    </head>
    <body>
        <table BORDER=1>
            <tr>
                <td COLSPAN=2 ALIGN=CENTER>
                    <b>SONOS  Zone Status</b>
                </td>
            </tr>
            {% for zones in zones_loop %}
                <tr>
                    <td ALIGN=CENTER>
                        <b>{{ zones.zone_name }}</b>
                        <br>
                        {% if active_playing %}(Playing){% endif %}
                        {% if active_paused_playback %}(Paused){% endif %}
                        {% if active_stopped %}(Paused){% endif %}
                        {% if active_isradio %}
                            <br>
                            Internet Radio
                            <br>
                        {% else %}
                            <br>
                            {{ zones.active_track_num }} of {{ zones.active_track_tot }}
                            <br>
                            {% if active_shuffle %}(Rnd){% endif %}
                            {% if active_repeat %}(Rpt){% endif %}
                        {% endif %}
                        <br>
                        Vol.{{ zones.active_volume }}
                    </td>
                    {% if active_isradio %}
                        <td>
                            <table>
                                <td>
                                    <font size = 1>Information:</font>
                                    <br>
                                    {{ zones.active_name }}
                                    <br>
                                    <font size = 1>Station:</font>
                                    <br>
                                    {{ zones.active_album }}
                                </td>
                            </table>
                        {% else %}
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <font size = 1>Track:</font>
                                        </td>
                                        <td>{{ zones.active_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font size = 1>Artist:</font>
                                        </td>
                                        <td>{{ zones.active_artist }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font size = 1>Album:</font>
                                        </td>
                                        <td>{{ zones.active_album }}</td>
                                    </tr>
                                    {% if next_name %}
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan=2>
                                                <font size = 1>Next: </font>
                                                <br>
                                                {{ zones.next_name }} - {{ zones.next_artist }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                        {% endif %}
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                {% endfor %}
            </table>
        </body>
    </html>
