<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Web SONOS Controller</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
<style>
   <TMPL_INCLUDE NAME="style.css">
</style>
<script>
var zone_arg = "<TMPL_VAR name="ZONE_ARG">";
var music_arg = "<TMPL_VAR name="MUSIC_ARG">";
var last_update = "<TMPL_VAR name="LAST_UPDATE">";
<TMPL_IF NAME="ACTIVE_ZONE">
zone_info = <TMPL_VAR NAME=ACTIVE_JSON>;
</TMPL_IF>
</script>
<script language="javascript">
   <TMPL_INCLUDE NAME="simple.js">
</script>
</head>
<body onload='drawControl(); reload();'>
