a {
    color: inherit;
    text-decoration: none;
}

#control
{
    width: 150px;
    margin: auto;
}

#control img,
#volumes img
{
	height: 44px;
	vertical-align: middle;
        display: inline-block;
}

h4 {
    margin: 2px;
    padding: 2px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 18%;
}

#current-track-info label,
#albumart {
	display: inline-block;
	vertical-align: top;
        margin: 5px;
        width: 100%;
	overflow: hidden;
}

#albumart {
        width: 200px;
}

#zones div.normal {
    background: #333;
    padding: 10px;
    margin: 20px;
}

#zones div.active {
    background: #333;
    padding: 10px;
    margin: 20px;
    border-style: dotted;
    border-width: 1px;
}

#zones div.zoneinfo {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    font-size: 11px;
}

#zones div.zoneinfo img,
#zones div.zoneinfo span
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

#zones ul {
    padding: 5px;
}

#zones ul li {
    list-style: none;
    background-image: url(images/ic_bedroom.png);
    background-repeat: no-repeat;
    line-height: 30px;
    padding-left: 40px;
}


#music ul,
#queuedata ul {
	margin: 2px;
        padding: 2px;
        background: #333;
}

#music li,
#queuedata li {
	list-style: none;
	margin: 0;
	padding: 2px;
        border-bottom-width: 1px;
        border-bottom-style: dotted;
        border-bottom-color: #999;

}

#music li.albumart img,
#queuedata li.albumart img
{
    height: 200px;
    width: 200px;
}

#music li img,
#queuedata li img
{
	width: 40px;
	height: 40px;
	vertical-align: top;
	display: inline-block;
}

#music li .trackno,
#queuedata li .trackno
{
	width: 40px;
        text-align: center
	display: inline-block;
}
#music li div,
#queuedata li div {
        width: calc(100% - 55px);
	display: inline-block;
	overflow: hidden;
        margin: 2px;
}

#music li div p,
#queuedata li div p {
	margin: 0;
	line-height: 18px;
	font-size: 13px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

#music li div p.artist,
#queuedata li div p.artist,
#music li div p.description,
#queuedata li div p.description
{
	color: #aaa;
}

#music li div p.buttons,
#queuedata li div p.buttons {
    text-align: right;
}

#music li.header {
        background: #fff;
        color: #000;
        font-size: 18px;
}

p#musicpath {
    font-weight: bold;
}

body {
        max-width: 300px;
	background: #000;
	color: #fff;
	font-family: "PT Sans", Arial, sans-serif;
        font-size: 15px;
}
