{% include "header.tmpl" %}

<div id="top-labels">
	<h4 id="currentzonename" onclick="goto('zones')">{{ ZONE_FANCYNAME }}</h4>
	<h4 id="nowplayinglabel" onclick="goto('playing')">NOW PLAYING</h4>
</div>

<div id="queue">
    <div id="queuedata">
        <ul>
            <li class="header">
            <img width="44" height="44" src="svg/queue.png" />
            <div>
                <p>&nbsp;</p>
                <p class="buttons" onclick="removeall()">Remove All</p>
            </div>
            </li>
            {% for _for_object_queue_loop in queue_loop %}
                <li onclick="seek('{{ _for_object_queue_loop.queue_arg }}');">
                    <img width="44" height="44" class="albumart" src="{{ _for_object_queue_loop.QUEUE_ALBUMART }}" />
                    <div>
                        <p class="title">{{ _for_object_queue_loop.queue_name }}</p>
                        <p class="artist">{{ _for_object_queue_loop.QUEUE_ARTIST }}</p>
                    </div>
                  </a>
                </li>
            {% endfor %}
        </ul>
    </div>
<hr />

{% include "footer.tmpl" %}
