{% include "header.tmpl" %}

{% if has_active_zone %}
  <div id="top-labels">
     <h4 id="currentzonename" onclick="goto('zones')">{{ ZONE_FANCYNAME }}</h4>
  </div>
{% endif %}

<div id="zones">
{% for _for_object_zones_loop in zones_loop %}
 <div
     {% if zone_active %}
        class="active"
     {% else %}
        class="normal"
     {% endif %}
 >
 {% if not zone_linked %}
   {% if has_active_zone %}
   {% if not zone_active %}
       <img style='float: right;' onclick="goto('zones', 'action=Link&link={{ _for_object_zones_loop.active_zoneid }}'); return true;" width="44" height="44" src="svg/link.svg">
   {% endif %}
   {% endif %}

   {% if ZONE_NUMLINKED %}
       <img style='float: right;' onclick="goto('zones', 'action=Unlink&link={{ _for_object_zones_loop.zone_name }}');" width="44" height="44" src="svg/unlink.svg">
   {% endif %}

   <ul
       onclick="zone('{{ _for_object_zones_loop.zone_name }}');">
    {% for _for_object_ZONE_MEMBERS in _for_object_zones_loop.ZONE_MEMBERS %}
       <li style="background-image: url(zone_icons/{{ _for_object_ZONE_MEMBERS.zone_icon }}.png);">
         {{ _for_object_ZONE_MEMBERS.zone_name }}
      </li>
    {% endfor %}
  </ul>

  <div class="zoneinfo">
    <span>
        {% if active_playing %}
           <img width="22" height="22" src="svg/play.svg">
        {% else %}
           <img width="22" height="22" src="svg/pause.svg">
        {% endif %}
        {{ _for_object_zones_loop.active_album }}
    </span>
  </div>
 {% endif %}
</div>

{% endfor %}
</div>

{% include "footer.tmpl" %}
