<div id="playing">
[% IF url.values.zone %]
<div id="current-track-info">
    <img class="albumart" id="albumart"
      [% IF player.av.albumart %]
         src="[% player.av.albumart %]"
      [% ELSE %]
         src="tiles/missingaa_lite.svg"
      [% END %]
    width="200" height="200"><br>
    <label id="info"></label>
</div>

<div id="control">
    <img onclick="send('Previous');" class="icon" src="svg/prev.svg" id="previous">
    <img onclick="send('Pause');" class="icon" src="svg/pause.svg" id="pause"
      [% UNLESS player.av.transport_state == 'PLAYING' %]
            style="display: none;"
      [% END %]
    >
    <img onclick="send('Start');" class="icon" src="svg/play.svg" id="play"
      [% IF player.av.transport_state == 'PLAYING' %]
            style="display: none;"
      [% END %]
    >
    <img onclick="send('Next');" class="icon" src="svg/next.svg" id="next">
</div>

<div id="queueicon">
     <img src="svg/queue.png" width="40" height="40" onclick="goto('queue');">
</div>

<div id="mute">
    <img onclick="send('MuteOn');" class="icon" src="svg/mute_off.svg" id="muteon"
      [% IF player.render.muted %]
            style="display: none;"
      [% END %]
    >
    <img onclick="send('MuteOff');" class="icon" src="svg/mute_on.svg" id="muteoff"
      [% UNLESS player.render.muted %]
            style="display: none;"
      [% END %]
    >
</div>

<div id="volumes">
   <img onclick="softer();" class="icon" src="svg/minus.svg" id="muchsofter">
    <label id="volume">[% player.render.volume %]%</label>
    <img onclick="louder();" class="icon" src="svg/plus.svg" id="muchlouder">
</div>
[% END %]
</div>
