<div id="zones">
[% FOREACH item IN players %]
 [% IF item.zone.is_coord %]
 <div
     [% IF item.isactive %]
        class="active"
     [% ELSE %]
        class="normal"
     [% END %]
 >
   [% UNLESS item.isactive %]
       <img onclick="goto('zones', 'action=Link&link=[% item.name %]'); return true;" class="icon" src="svg/link.svg">
   [% ELSIF item.zone.members.size > 1 %]
       <img onclick="goto('zones', 'action=Unlink&link=[% item.name %]');" class="icon" src="svg/unlink.svg">
   [% END %]

   <ul onclick="zone('[% item.name %]');">
    [% FOREACH member IN item.zone.members %]
       <li style="background-image: url('[% member.img %]');">
         [% member.name %]
      </li>
    [% END %]
  </ul>

  <div class="zoneinfo">
    <span>
        [% IF item.av.transport_state == "PLAYING" %]
           <img width="22" height="22" src="svg/play.svg">
        [% ELSE %]
           <img width="22" height="22" src="svg/pause.svg">
        [% END %]
        [% item.av.album %]
    </span>
  </div>
</div>
[% END %]
[% END %]
</div>
